.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 106px;
    background-image: linear-gradient(to bottom, #39a4dc, #2763ab);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.sidebar-item {
    margin: 1rem 0;
    cursor: pointer;
}

.sidebar-item:hover {
    color: #3498db;
}